@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&display=swap');

body {
   margin: 0;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   background-color: #FFFFFF;
   font-family: 'Open Sans', sans-serif;
}

input, button {
   font-family: 'Open Sans', sans-serif;
   
}

a{
   text-decoration: none;
}

.wrapper {
   box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
   border-radius: 20px;
   max-width: 1620px;
   height: 100%;
}

.container__basic{
   max-width: 1620px;
   height: 45px;
   display: flex;
   justify-content:space-between;
   text-align: center;
}

.container__basic div{
   flex: 1;
   margin: auto;
}

.container__basic span{
   line-height: 17px;
   text-align: center;
}

.container__basic img{
   color:#FFFFFF;
}

header {
   background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
   color:#FFFFFF;   
}

.mainfoto{
   max-width: 1620px;
   height: 200px;
   margin: 0 auto;
   background: linear-gradient(101.38deg, #DDDDBF 3.06%, #ECECD5 85.68%);
}

.foto{
   padding-right: 100px;
}

.mainfoto__container{
   text-align: center;
}

.hobby{
   position: absolute;
   top:100px;
}

.content {
   max-width: 1620px;
   margin: 0 100px;
   text-align: center;
}

.container__btn{
   display: flex;
   justify-content: space-between;
   padding: 20px 0 10px 0;
}

.card{
   border: 1px solid #f3f3f3;
   padding: 30px;
   width: 220px;
   border-radius: 20px;
   margin-right: 30px;
   margin-bottom: 30px;
   transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}

.like{
   cursor: pointer;
text-align: start;
}

.plus {
   cursor: pointer;
}

.card:hover {
   box-shadow: 0px 20px 35px rgba(0, 0, 0, 0.06);
   transform: translateY(-5px);
}

.btncard{
   width: 200px;
   height: 50px;
   border: 1px solid #BDBDBD;
   border-radius: 46px;
   background: #FFFFFF;
   margin: 20px auto;
   
}

.btncard__added{
   width: 200px;
   height: 50px;
   border: 1px solid #BDBDBD;
   border-radius: 46px;
   background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
   margin: 20px auto;
}

.btncard span{
   font-size: 14px;
   background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   padding-left: 10px;
}

.btncard__added span{
   font-size: 14px;
   background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: white;
   padding-left: 10px;
}

.search{
   color: #BDBDBD; 
   position: relative;
}

.search input{
   border: none;
   outline:none;
   padding: 15px 0;
}

.search img{
   position: absolute;
   right: 20px;
   top:20px;
}

.search span{
   font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #424242;
}

.favorite{
   color: #BDBDBD; 
   
}

.favorite img{
padding-right:10px ;
}

.favorite span{
   font-weight: 600;
font-size: 16px;
line-height: 20px;
color: #424242;
}

.container__card{
   display: flex;
   flex-wrap: wrap;
}

.catalog{
   margin: 0 0 50px 0;
   font-size: 30px;
}

.overlay {
   position: absolute;
   left: 0;
   top: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1;
   /*overflow: hidden;
   visibility: hidden;
   opacity: 0;*/
}
.overlayVisible {
   visibility: visible;
   opacity: 1;
}

.drawer p{
   border: 1px solid rgba(189, 189, 189, 1)
}

.drawer h2{
text-align: center;
}


.drawer {
   display: flex;
   flex-direction: column;
   position: absolute;
   width: 420px;
   height: 100%;
   right: 0;
   background: #ffffff;
   box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
   padding: 30px;
   /*transform: translateX(100%);*/
   transition: transform 0.3s ease-out;
   z-index: 2;
}

.btnclose {
   display: flex;
   justify-content: space-between;
   text-align: center;
}

.btnclose b{
font-size: 25px;
}

.cart__item{
   display: flex;
   flex-direction: row;
   align-items: center;
   border: 1px solid #f3f3f3;
   border-radius: 20px;
   margin-bottom: 10px;
}

.cart__item span{
   margin: 0 auto;
   font-size: 14px;
}

.cart__item b{
   padding-right: 10px;
}
.items{
   flex: 1;
}
.remove{
   opacity: 0.5;
   cursor: pointer;
   transition: opasity 0.15s ease-in-out;
}

.remove:hover{
   opacity: 1;
}

.empty__cart{
   font-weight: 600;
   font-size: 28px;   
   color: #424242;
   text-align: center;
   border: none !important;
}

.empty button{
   background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
   border-radius: 50px;
   width: 100%;
   height: 50px;
   color: #FFFFFF;
   border: 0;
   text-transform: uppercase;
   }

.empty__add{
   font-weight: 400;
font-size: 16px;
line-height: 140%;
text-align: center;
color: #424242;
border: none !important;
}

.total{
   width: 100%;
   height: 150px;
   background: #FAF9F9;
   border-radius: 20px;
   color: #FFFFFF; 
}

.total button{
background: linear-gradient(102.48deg, #976464 -29.03%, #CFA5A5 97.75%);
border-radius: 50px;
width: 100%;
height: 50px;
color: #FFFFFF;
border: 0;
text-transform: uppercase;
}

.totalitem{
   display: flex;
   justify-content: space-around;
   align-items: center;
   color: #424242;
   margin-bottom: 20px;
}

.totalitem b{
font-style: normal;
font-weight: 500;
font-size: 52px;
line-height: 63px;
}

